.body {
    background: #247BA0;
    font-family: 'Ubuntu', sans-serif;
    width: 85%;
    margin-left: 5%;
}
.titleBox {
    background-color: #FFFFFF;
    width: 50%;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.aboutBox {
    background-color: #FFFFFF;
    width: 75%;
    height: 300px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #247BA0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-top: 110px;
    margin-bottom: 40px;
    font-size: 70px;
}

.aboutUs {
    padding-top: 40px;
    color: #247BA0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 110px;
    margin-bottom: 5px;
    font-size: 60px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #13293D, #247BA0);
    border: 0;
    width: 75%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15%;
    font-size: 35px;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

/* * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 1920px;
    height: 100px;
    display: block;
    background-color: #006494;
}

.inner_header {
    width: 1920px;
    height: 100%;
    display: block;
    margin: 20 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: rgb(243, 243, 243);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: 1000;
}

.logo_container h1 span {
    font-weight: 1000;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell; 
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 32px;
}
.button {
    background-color: #247ba0;
    color: rgb(0, 0, 0);
    padding: 10px;
} */
/*
.button2 {
    width: 1020;
    padding: 20px;
}
.number {
    /* margin: 10px 20px; */
    /*padding: 15px;
    background-color: rgb(211, 220, 220);;
    /* position: absolute; */
    /*bottom: 0;
    /* display: inline-block; */